<div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
  <div class="lg:pl-20">
    <div class="max-w-xs px-2.5 lg:max-w-none">
      <div
        [hlmAspectRatio]="1"
        class="rotate-3 rounded-2xl overflow-hidden bg-zinc-100 dark:bg-zinc-800"
      >
        <img
          alt="Turma IINF 31 2024"
          loading="lazy"
          class="object-cover w-full h-full"
          ngSrc="assets/images/portrait.jpg"
          width="800"
          height="800"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center lg:order-first lg:row-span-2">
    <h1 hlmH1 class="sm:text-5xl">IINF 31 / 2024</h1>
    <div class="mt-6">
      <p hlmLead>Formandos da turma de Informática de 2024</p>
      <p hlmP class="text-zinc-700 dark:text-zinc-300">
        Com seus códigos, vocês desbravaram o universo digital. Agora, ao se formarem em
        Informática, lembrem-se: cada desafio é um novo código a ser decifrado. Parabéns pela
        conquista! O futuro é binário, e vocês têm a chave para decifrá-lo com inovação e paixão.
      </p>
    </div>
  </div>
</div>
